<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-rayka"
    version="1.0.0">
    <name>Cordova Rayka Plugin</name>
    <description>Show Rayka banner, interstitial and video ads</description>
    <author>Milad Mohammadi Rezagah</author>	
    <keywords>cordova,plugin,ad,rayka,monetisation</keywords>
    <repo>https://github.com/raykaad/cordova-plugin-rayka</repo>
    <issue>https://github.com/raykaad/cordova-plugin-rayka/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/rayka.js">
        <clobbers target="window.rayka" />
    </js-module>    

	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Rayka">
				<param name="android-package" value="com.raykaad.cordova.Rayka"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="com.raykaad.VideoActivity"
				android:configChanges="keyboardHidden|orientation|screenSize" />
		</config-file>

		<source-file src="src/Rayka.java" target-dir="src/com.raykaad.cordova"/>
		<source-file src="libs/RaykaSdk.jar" target-dir="libs" />
	</platform>
	
</plugin>